* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #fff8f0;
}

/* HEADER */
header {
  background: #6f4e37;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 60vh;
  background: url("hero.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-text {
  font-size: 2rem;
}

/* SECTION */
section {
  padding: 50px 10%;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  color: #6f4e37;
}

/* MENU */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menu-item {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.menu-item img {
  width: 100%;
  height: auto;
}

/* SPECIALITY */
.speciality-box {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.speciality-box img {
  width: 250px;
  border-radius: 10px;
}

.menu-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* ABOUT */
.about-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* CONTACT */
.contact-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* FOOTER */
footer {
  background: #6f4e37;
  color: white;
  text-align: center;
  padding: 10px;
}
